<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.hospitalserver.mapper.DoctorsMapper">

    <resultMap id="getDoctorsVo" type="doctorsVo">
        <result property="dId" column="d_id"/>
        <result property="dIntro" column="d_intro"/>
        <result property="dAge" column="d_age"/>
        <result property="dAvatar" column="d_avatar"/>
        <result property="dIdentified" column="d_identified"/>
        <result property="dDegree" column="d_degree"/>
        <result property="dAward" column="d_award"/>
        <result property="scGraduation" column="sc_graduation"/>
        <result property="dAddress" column="d_address"/>
        
        <result property="dEntryTime" column="d_entry_time"/>
        <result property="dResignTime" column="d_resign_time"/>
        <result property="dOutRegister" column="d_out_register"/>
        <result property="modTime" column="mod_time"/>
        <association property="userLogin" javaType="UserLoginsVo">
            <result property="name" column="name"/>
        </association>
        <association property="depts" javaType="Depts">
            <result property="name" column="dpt_name"/>
            <result property="address" column="dpt_address"/>
        </association>
        <collection property="roles" javaType="list" ofType="RolesVo">
            <result property="rId" column="r_id"/>
            <result property="rName" column="r_name"/>
        </collection>
    </resultMap>
    <select id="getDoctorsVo" resultMap="getDoctorsVo">


    select d.id as d_id,d.age as d_age,d.avatar as d_avatar,    
                d.identified as d_identified,d.address as d_address,d.sc_graduation as sc_graduation,
                d.degree as d_degree,d.intro as d_intro,d.award as d_award,
                dpt.name as dpt_name,dpt.address as dpt_address,
                d.out_register as d_out_register,d.mod_time as mod_time,
                d.entry_time as d_entry_time,d.resign_time as d_resign_time,       
                r.r_name as r_name,r.r_id as r_id,logins.name as name
    from doctors d,roles r,depts dpt,user_roles u_r,user_logins logins
    where d.u_id = u_r.u_id and u_r.u_id = logins.u_id and r.r_id=r.r_id ;
    </select>
    
</mapper>
