<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.hospitalserver2.mapper.DoctorsMapper">
    
    <resultMap id="getDoctorsVo" type="doctorsVo">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="avatar" column="avatar"/>
        <result property="identified" column="identified"/>
        <result property="degree" column="degree"/>
        <result property="scGraduation" column="graduation"/>
        <result property="address" column="address"/>
        <result property="salary" column="salary"/>
        <result property="intro" column="intro"/>
        <result property="award" column="award"/>
        <result property="entryTime" column="entry_time"/>
        <result property="resignTime" column="resign_time"/>
        <result property="outRegister" column="out_register"/>
        <result property="modTime" column="mod_time"/>
        <association property="roles" javaType="roles">
            <result property="rName" column="r_name"/>
        </association>
        <association property="depts" javaType="depts">
            <result property="name" column="dpt_name"/>
            <result property="address" column="dpt_address"/>
        </association>
    </resultMap>
    
    <select id="getDoctorsVo" resultMap="getDoctorsVo">

        select d.id as id,d.`name` as `name`,d.age as age,r.r_name as r_name,
				d.avatar as avatar,dpt.`name` as dpt_name,dpt.address as dpt_address,
        d.`identified` as `identified`,d.address as d_address,d.salary as salary,
		d.intro as intro,d.award as award,d.sc_graduation as graduation,
        d.degree as degree,d.entry_time as entry_time,d.resign_time as resign_time,
        d.out_register as out_register,d.mod_time as mod_time
        from doctors d,roles r,depts dpt
        where d.r_id = r.r_id and d.dept_id = dpt.id
    </select>


</mapper>
